# IDEs
.vscode/
.trae/
.idea/
*.swp
*.swo

# Python
__pycache__/
.pytest_cache/
*.pyc
.venv/

# frontend
node_modules
dist
dist-electron

# Env files & secrets
.env
secrets/*
!secrets/.gitkeep

# Local docker override
docker-compose.override.yml

# Backend artifacts
backend/app/artifacts/

# OS
.DS_Store
Thumbs.db
